@font-face {
  font-family: "USTitleBlack";
  src: url("./ysbth.TTF");
}

@font-face {
  font-family: "FZCHSJT";
  src: url("./fzchsjt.TTF");
}

@font-face {
  font-family: "DINNEXTLTPRO-BOLD";
  src: url("./DINNEXTLTPRO-BOLD.TTF");
}
